.actual {
  font-weight: bold;
}

.targeta-amigo {
  background-color: #483d8b;
  color: white;
  height: 150px;
  border-radius: 15px;
}

.boton {
  background-color: #483d8b;
  color: white;
}

.btns-control-amigo {
  font-size: 1.2em;
}
.btns-control-amigo {
  cursor: pointer;
}

.campo-form-amigo {
  border: 1px solid #483d8b;
}

.mensaje-error {
  background-color: rgb(255, 240, 240);
  border: 1px red solid;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
}
